.container {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-family: Poppins-bold;
  font-size: 3vw;
}

.subtitle {
  margin-top: 1%;
  text-align: center;
  font-size: 1vw;
}

.description {
  margin-top: 5%;
  font-size: 1.3vw;
  line-height: 1.3;
}

.description span {
  font-size: 1.7vw;
  font-family: Poppins-bold;
}

.team {
  margin-top: 5%;
  font-size: 1.5vw;
  line-height: 1.3;
}
