.top-title {
  margin-top: 15%;
  text-align: center;
  font-size: 7.5vw;
  text-transform: uppercase;
  font-family: Poppins-black;
  color: #f0c300;
}

.top-bottle {
  position: relative;
  z-index: -1;
  width: 35%;
  margin-top: -27%;
  margin-left: 55%;
  opacity: 0.3;
  transform: rotate(25deg);
}

.infos {
  margin-left: 10%;
  margin-top: -10%;
  display: flex;
  flex-direction: row;
}

.number {
  font-family: Kabal;
  font-size: 5.3vw;
}

.percent {
  line-height: 1.1;
  font-size: 2vw;
  margin-left: 1%;
  margin-top: 1%;
  color: #f0c300;
  text-transform: uppercase;
}

/* description */

.description {
  width: 60%;
  margin-top: 13%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.6vw;
  line-height: 1.2;
}

.description-text span {
  color: #f0c300;
}

/* slider */

.slider-beer {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
}

.number-beer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12%;
  font-family: Kabal;
  font-size: 1.7vw;
}

.first,
.second,
.third {
  margin-top: 100%;
  margin-bottom: 100%;
  cursor: pointer;
}

.line {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f0c300;
  margin-top: 2%;
}

/* left */

.first-beer,
.second-beer,
.third-beer {
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}

.beer-left {
  width: 60%;
}

.title {
  font-family: Poppins-black;
  font-size: 4.5vw;
  color: #f0c300;
}

.text {
  margin-top: 8%;
  margin-bottom: 13%;
  font-size: 1.5vw;
  line-height: 1.2;
}

.buy-button {
  margin-left: 50%;
  text-decoration: none;
  color: #f4f2e6;
  background-color: #171717;
  font-weight: 800;
  font-size: 1.1vw;
  padding: 2% 5% 2% 5%;
  border: #f0c300 1px solid;
}

.buy-button:hover {
  background-color: #f0c300;
  color: #171717;
  font-weight: 800;
}

/* right */

.beer-right img {
  width: 40%;
  margin-left: 60%;
  margin-top: -50%;
}
